* {
    box-sizing:border-box;
    height: auto;
    width: 100%;
  }
.link{
    width: 30px;
    height: 30px;
}
#main:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid .lefty{
      float: left;
      width:33%;
      padding:0 10px;
      box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2);
    }
  .grid .righty{
      float: right;
      padding: 0 10px;
      width: 65%;
  }
  .social{
      text-align: center;
      color:coral;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .progress {
    width: 100%;
    background-color:darkcyan;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5%;
  }
  .work{
      border-radius: 10px;
      text-align:center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .education{
      border-radius: 10px;
      text-align:center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
#up a{
  position: fixed;
  left: 97.5%;
  bottom: 20px;
  right: 20px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3 ease;
  }
  .activity{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
.note{
  text-align: center;
  color: darkgoldenrod;
}
.project{
  border-radius: 10px;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}